@page "/"
@model OficialSliwa.Pages.IndexModel

@{
    ViewData["Title"] = "Home";
}
<link href="~/css/index.css" rel="stylesheet" />

<div class="body">
    <h1>Strona Główna</h1>
    <p>Klub bokserski śliwa.</p>
    <p>Witaj na stronie klubu bokserskiego śliwa. Wspólnie z Nami zrealizujesz sportowe cele związane ze zdrowym stylem życia, aktywnością ruchową, świetnym samopoczuciem i dążeniem do granic własnych sportowych możliwości. To wszystko jest możliwe, dzięki wspaniałej atmosferze oraz najlepszym trenerom, którzy zadbają o efekt, ale też pozytywną motywację. Boks to Nasza pasja!</p>
</div>
